<div class = "about-main">
	<div class = "about-message" >
		<h2>みんなで作る新しい辞書</h2>	
	</div>

	<div class = "about-contents">
		<div class = "about-content">
			<h3>ことばの意味を調べる</h3>
			<p>気になったことばの意味を検索して調べてみよう。</br>
				<p>知っていることばでも新しい気づきがあるかも！</p>

		</div>
　　　
　　　
　　　<div class = "about-content">
			<h3>意味を知りたいことばを投稿する</h3>
			<p>検索しても出てこなかったことばは</br>
				<p>自分で投稿してみよう！</br>

			<p>誰かが意味を教えてくれるかも？？</p>
				
		</div>

		<div class = "about-content">
			<h3>ことばの意味を”投稿する</h3>
			
				
		</div>

		<div class = "about-content">
			<h3>素敵な意味にはいいねを押そう</h3>
			
				
		</div>



	</div>
</div>