<div class = "about-main">
	<div class = "about-top" >
		<h1>ことぶつえんとは</h1>
		<h2>ここには動物みたいな言葉たち＝ことぶつ(言物)が生息しています。	</h2>	
	</div>

	<div class = "about-contents">
		<div class = "about-content">
			<p>人間や動物たちが生きているように、言葉たちも生きています。</p>
			<p>新しい言葉が生まれ、使われなくなった言葉が忘れ去られ、</p>
			<p>言葉の意味も日々刻々と変化します。</p>
		</div>
　　　
　　　
　　　　 <div class = "about-content">
			<p>そんな風に生きているからこそ、言葉は多様な意味を持ちます。</p>
			<p>そして、その意味は使う人によっても変わります。</p>
			<p>例えば、両想いを『2人が互いに同じくらい愛している』と考える人もいれば</p>
			<p>ある人は『両側からの片想い』と考えます。</p>
			<p>例えば、女の子の言う『だめ』は</p>
			<p>時として『OK』を意味すると昔バイトの先輩に聞いたことがあります。</p>	
		</div>

		<div class = "about-content">
			<p>そんな生きた言葉を『ことぶつ(言物)』と、ここでは呼びます。</p>
			<p>ことぶつえんには、多くの『言物』がいます。</p>
		</div>

		<div class = "about-content">
			<p>色んな『言物』に触れることで、言葉に対する印象が変わり、</p>
			<p>そして、言葉で溢れたこの世界の見方も変わるんじゃないでしょうか。</p>
			<p>僕たちはそう信じています。</p>
		</div>
	</div>

        <div class = "about-message">
			<h2>言葉が変われば、世界も変わる。</h2>
			<h1>ようこそ、ことぶつえんへ</h1>
		</div>
　　　<img src="/assets/言物.png" class = "obj-1">
     <img src="/assets/言物.png" class = "obj-2">
     <img src="/assets/言物.png" class = "obj-3">
     <img src="/assets/言物.png" class = "obj-4">
     <div class = "about-end">
      <img src="/assets/入口.png" class = "enter">
     </div>
     <div class = "about-link">	
     <%= link_to("ことぶつに会いにいく","/posts/index") %>
     </div>
</div>