<div class = "about-main">
	<div class = "about-message" >
		<h2>みんなで作る新しい辞書</h2>	
	</div>

	<div class = "about-contents">
		<div class = "about-content">
			<h3>①ことばの意味を調べる</h3>
			<p>気になったことばの意味を検索して調べてみよう。</br>
				<p>知っていることばでも新しい気づきがあるかも！</p>

		</div>
　　　
　　　
　　　<div class = "about-content">
			<h3>②意味を知りたいことばを投稿する</h3>
			<p>検索しても出てこなかったことばは</br>
				<p>自分で投稿してみよう！</br>

			<p>誰かが意味を教えてくれるかも？？</p>
				
		</div>

		<div class = "about-content">
			<h3>③ことばの意味を投稿する</h3>
			<p>あなただけしか知らないそのことばの意味があるかも！</br>
				<p>自由に投稿してみよう！</p>
				
		</div>

		<div class = "about-content">
			<h3>④素敵な意味をみつけよう</h3>
			<p>クスッときたりジーンとくる意味には</br>
			<p><span class = "fa fa-heart like-btn"></span>をあげよう!</br>

			
				
		</div>



	</div>
</div>