<div class="main top-main"> 
  <div class="top-wrapper">
  	<div class="top-message">
  	 <h1>言物園</h1>
  	 <h2>意味が変われば、世界も変わる</h2>
  	</div>
  </div> 
<h1 class="middle-message">言葉だって生きている</h1>
<div class = "top-contents">
 <div class = "top-content">
 	<img src="assets/top1.png" class="img-left">
 	<div class="content-message-left">
 	 <p>「あれってどういう意味だったのかな。」</p>
 	 <p>「なんであんな言葉を使うんだろう。」</p>
     <p>だれに聞いてもわからない。</p>
     <p>辞書を引いてもわからない。</p>
    </div>
 </div>
 <div class = "top-content">
 	<div class ="blank2"></div>
 	<img src="assets/top2.png" class="img-left">
 	<div class="content-message-left">
 	 <p>どうやら言葉ってのは</br>
 	 <p>どこまでも便利で</p>
 	 <p>いつだって不十分なやつのようだ</p>
 	</div>
 </div>
  <div class = "top-content">
 	<div class ="blank3"></div>
 	<img src="assets/top3.png" class="img-right">
 	<div class="content-message-right">
 	 <p>たぶんきっとそうなんだろう。</br>
 	<p>その言葉が持つ意味は一つじゃなくて</br>
 	<p>ひとつひとつ違って</br>
 	<p>ひとりひとり違うんだ。</br>
 	</div>
 </div>
 <div class = "top-content">
 	<img src="assets/top4.png"  class="img-right">
 	<div class="content-message-right">
 	<p>だったらもう一度作ってみようよ。</br>
 	<p>みんなの”ことば”をまとめた</br>
 	<p>新しい辞書を。</p>
 	</div>
 </div>
</div>
</div>