<div class="main top-main"> 
  <div class="top-message">
  	<h2>”ことば”を再定義しよう。</h2>
    <img src="assets/poemy辞典.png">
   
<div class = "about-contents">
 <div class = "about-content">
 	<p>「あれってどういう意味だったのかな。」</p>
 	<p>「なんであんな言葉を使うんだろう。」</p>
    <p>だれに聞いてもわからない。</p>
    <p>辞書を引いてもわからない。</p>
 	
 </div>


<div class = "about-content">
 	<p>どうやら言葉ってのは</br>
 	<p>どこまでも便利で</p>
 	<p>いつだって不十分なやつのようだ</p>
 	
 </div>

 <div class = "about-content">
	
 	<p>たぶんきっとそうなんだろう。</br>
 		<p>その言葉が持つ意味は一つじゃなくて</br>
 		<p>ひとつひとつ違って</br>
 		<p>ひとりひとり違うんだ。</br>
 		<p>だったらもう一度作ってみようよ。</br>
 		<p>みんなの”ことば”をまとめた</br>
 		<p>新しい辞書を。</p>
 	
 </div>

 
</div>


  </div>
      <div class ="background"></div>
</div>