<div class ="main posts-index">
	<div class="container">
		<ul class="user-tabs">
			<li class="active"><%= link_to("索引","/posts/index") %></li>
				<li><%= link_to("新着ことば","/posts/recent") %></li>
		</ul>
		<% @posts.each do |post| %>
		
		<div class="posts-index-item">
			
			<div class ="user-right" >
				【<%= link_to(post.content,"/posts/#{post.id}") %>】
				<span><%= link_to(post.reading,"/posts/#{post.id}") %></span>
			</div>

		</div>
		<% end %>
	</div>
</div>