<div class ="main posts-index">
	<div class="container">
		<ul class="user-tabs">
			<li ><%= link_to("索引","/posts/index") %></li>
			<li ><%= link_to("新着ことば","/posts/recent") %></li>
			<li class="active"><%= link_to("人気poem","/posts/popular") %></li>
		</ul>

    <% @comments.each do |comment| %>
		 
			<div class = "user-left" >
				<div class ="post-word">

				
				</div>
			</div>
			
			<div class ="user-right" >
				<%= link_to(comment.content,"/posts/#{comment.post_id}") %>
			</div>
			
			<% end %>
		
	</div>
</div>