
<div class ="main posts-show">
	<div class ="container">
		
		<div class ="posts-show-item">
			<div class ="post-word">
				<h2>
					【<%= @post.content %>】
				</h2>
				<h3>
					<%= @post.reading %>
				</h3>
			</div>

			
			<% @comments.each do |comment| %>
			<div class ="posts-comments">
				<% if comment %>
				 <%= link_to(comment.content, "/users/#{comment.user_id}") %>
				<% else %>
					<p>まだ”意味”がありません。</p>
				<% end %>
			</div>
			<% end %>
			

		</div>

		<div class ="form comment-form">
			<%= form_tag("/comments/#{@post.id}/create")do %>
			<div class="form">
				<div class="form-body">

					<textarea name="content"></textarea>
					<input type ="submit" value="投稿">
				</div>
			</div>
			<% end %>



		</div>
	</div>

