
<div class ="main posts-show">
	<div class ="container">
		
		<div class ="posts-show-item">
			<div class ="post-word">
				<h2>
					<%= @post.content %>
				</h2>
			</div>

			<div class ="posts-coments">
				<p>
				 	<%= @comment.content %>
				 </p>
			</div>
		</div>

		<div class ="form comment-form">
			<%= form_tag("/comments/#{@post.id}/create")do %>
			<div class="form">
				<div class="form-body">

					<textarea name="content"><%= @comment.content %></textarea>
					<input type ="submit" value="投稿">
				</div>
			</div>
			<% end %>



		</div>
	</div>

