// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}

a{
	text-decoration: none;
	color: #2d3133;
    font-size: 14px;
}

/* 共通レイアウト ==========================*/
.body {
  color: #2d3133;
  background-color: #3ecdc6;
  margin: 0;
  min-height: 1vh;
  }

  .main{
  position:absolute;
  top: 64px;
  width: 100%;
  height:auto;
  min-height: 100%;
  background-color:#f5f8fa;
  }

  .container{
  max-width: 600px;
  margin: 60px auto;
  padding-left: 15px;
  padding-right:15px;
  clear:both;

  }

  .form_error{
  color: red;
  }

/* ヘッダー ================================ */
header{
	height:64px;
	position:absolute;
	z-index:1;
	width:100%;
	background-color:#CCCCCC;
}

.header-logo{
	float:left;
	padding-left:20px;
	color:white;
	font-size:22px;
	line-height:64px;
}


.header-menus{
  float:right;
  padding-right:20px
}

.header-menus li{
  float:left;
  line-height:64px;
  font-size:13px;
  color:white;
  padding-left:15px;
}

/* top ================================ */
.top-main{
	padding:0px 0 0px;
	text-align: center;
}
.top-wrapper{
  background-image:url("../assets/jungle.jpeg");
  height:700px;
  background-size:cover;
  color:white;
  position:relative;
}
.top-wrapper::before{
  background-color:rgba(0,0,0,0.3);
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  content: ' ';
  }
.top-message{
  padding-top:100px;
  position: absolute;
  width:100%;
}
.top-message h1{
  font-size:200px;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
}
.top-message h2{
  font-size:40px;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
}
.middle-message{
  font-size:50px;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
  margin-top:10px;
}
.top-contents{
  padding:30px 50px 0px 50px;

}
.top-content{
  width:100%;
  height:300px;
}
.img-left{
  width:25%;
  float:left;
}
.img-right{
  width:25%;
  float:right;
}
.content-message-left{
  font-size:20px;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
  line-height:50px;
  float:left;
  text-align:left;
  padding-top:30px;
  padding-left:20px;
}
.content-message-right{
  font-size:20px;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
  line-height:50px;
  float:right;
  text-align:right;
  padding-top:30px;
  padding-right:20px;
}
.blank2{
  width:25%;
  height:100px;
  float:left;
}
.blank3{
  width:25%;
  height:100px;
  float:right;
}
/* about ================================ */
.about-main{
  padding:180px 8% 0;


.about-content{
   padding:10px 10px;
}


}

/* フォーム================================ */
.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-body{
	padding: 30px;
}

.form textarea{
	width:100%;
	min-height:110px;
	font-size:16px;
	letter-spacing:2px;
}


.form input[type ="submit"] {
	background-color:#CCCCCC;
	color:white;
	cursor:pointer;
	font-weight:300;
	width:120px;
	border-radius:2px;
	margin-top:0px;
	margin-bottom:4px;
	float:right;
}


/* フラッシュ =================================== */
.flash {
  padding: 10px 0;
  color: white;
  background:rgba(222,34,4,0.3);

  text-align: center;
  position: absolute;
  top: 72px;
  z-index:10;
  width: 100%;
  border-radius:0 0 2px 2px;
  font-size: 14px;
}



/* いいね!ボタン =================================== */


.like-btn {
  color: red;
}

.like-btn-unlike {
  color: gray;
}


 .Induction{
  width:20%;
  float:left;
  border-bottom: solid 2px orange;
}