// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-container{
  max-width: 600px;
  margin:0px;
  clear:both;

}
.posts-show-item {
margin: 50px 100px 100px 100px;
background-image: url("../assets/wordpage_background2.png");
background-size:contain;
background-repeat:no-repeat;
height: 900px;

}
.posts-comments {
padding-top:0px;
text-align: center;
font-size:10px;
padding-top:10px;
	
}

.post-word {
color:white;
text-align:center;
h2{
padding-top: 290px;
font-size:70px;
margin:0;
}

h3{
margin:0;
padding-top:0px;
font-size:30px;
}


/* posts/show いいね!ボタン ================================ */
	
.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

}

