// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts-show-item {
margin: 0 0 100px 0;
}

.posts-comments {
margin-top: 15px;

span{
color: gray;
}
}

.post-word {

h2{
display: inline-block;
}

h3{
display: inline-block;
}
}


.fa like-btn {
  color: red;
}

.fa like-btn-unlike {
  color: #ff2581;
}


