// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* users/show ================================ */

.user img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

.user-show {
  text-align: center;
}


.user {
	margin-bottom:20px;
}

.active {
  border-bottom: solid 2px orange;
}

.user-tabs{
  margin-bottom: 10px;
  display:table;
}

.user-tabs li {
  padding:3px 10px;
  display:table-cell;
}

